<% provide(:title, 'Home') %>
<div class="container custom-page">
    <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>
    <div class="home-buttons" style="padding-top: 30px;">
    	<a href="/signin" class="btn btn-primary btn-lg" style="width: 200px; border:none;">Inloggen</a>
  	</div>
  	<div class="home-buttons">
    	<a href="/signup" class="btn btn-primary btn-lg" style="width: 200px; border:none;">Aanmelden</a>
  	</div>
</div>