<% provide(:title, 'Home') %>
<h1>Factuur App</h1>
<h3>Welkom bij de factuur app</h3>
<p>Om gebruik te kunnen maken van deze app dient u in te loggen of zich aan te melden:</p>
<p><a href="signin">Inloggen</a></p>
<p><a href="signup">Aanmelden</a></p>