<% provide(:title, 'Instellingen') %>
<div class="container custom-page" style="padding-top: 30px;">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>
  <h1>Index pagina</h1>
</div>

