<% provide(:title, 'Producten') %>
<h3>Mijn producten</h3>
<%= will_paginate %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %> <small>(<%= product.description %>)</small></li>
  <% end %>
</ul>
<%= will_paginate %>
<p>Nieuw product? <a href="products/new">Voeg nieuw product toe</a></p>
